<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:macro name="hac_camera" params="
    parent *pole_joint_origin">

    <link name="camera_pole">
      <pose>0 0 0.1 0 0 0</pose>

      <collision>
        <geometry>
          <box size="0.1 0.1 0.2"/>
        </geometry>
      </collision>

      <visual>
        <geometry>
          <box size="0.1 0.1 0.2"/>
        </geometry>
      </visual>
    </link>

    <joint type="fixed" name="pole_joint">
      <xacro:insert_block name="pole_joint_origin"/>
      <child link="camera_pole"/>
      <parent link="${parent}"/>
    </joint>

    <link name="camera_link">
      <collision>
        <geometry>
          <box size="0.02 0.02 0.02"/>
        </geometry>
      </collision>

      <visual>
        <geometry>
          <box size="0.02 0.02 0.02"/>
        </geometry>
      </visual>
    </link>

    <joint type="fixed" name="camera_joint">
      <origin xyz="0.05 0.0 0.05" rpy="0 0 0"/>
      <child link="camera_link"/>
      <parent link="camera_pole"/>
    </joint>

    <gazebo reference="camera_link">
      <material>Gazebo/Red</material>
      <sensor type="camera" name="camera1">
        <update_rate>30.0</update_rate>
        <camera name="head">
          <!-- 視野角 -->
          <!-- 55deg = 0.9599 rad -->
          <horizontal_fov>0.9599</horizontal_fov>

          <!-- 解像度とフォーマット -->
          <image>
            <width>1280</width>
            <height>720</height>
            <format>R8G8B8</format>
            <!-- <format>B8G8R8</format> -->
          </image>

          <!-- どれだけの範囲（距離）を認識できるか -->
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>

          <!-- ノイズを大きくすれば、ノイズに強いプログラムを作れる -->
          <noise>
            <type>gaussian</type>
            <!-- Noise is sampled independently per pixel on each frame.
                That pixel's noise value is added to each of its color
                channels, which at that point lie in the range [0,1]. -->
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>

        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <camera_name>c270n</camera_name>
          <frame_name>camera_link</frame_name>
          <!-- <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2> -->
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
