<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:macro name="hac_camera" params="
    parent *pole_joint_origin">

    <link name="camera_pole">
      <pose>0 0 0.1 0 0 0</pose>

      <collision>
        <geometry>
          <box size="0.1 0.1 0.2"/>
        </geometry>
      </collision>

      <visual>
        <geometry>
          <box size="0.1 0.1 0.2"/>
        </geometry>
      </visual>
    </link>

    <joint type="fixed" name="pole_joint">
      <xacro:insert_block name="pole_joint_origin"/>
      <child link="camera_pole"/>
      <parent link="${parent}"/>
    </joint>

    <link name="camera_link">
      <collision>
        <geometry>
          <box size="0.02 0.02 0.02"/>
        </geometry>
      </collision>

      <visual>
        <geometry>
          <box size="0.02 0.02 0.02"/>
        </geometry>
      </visual>
    </link>

    <joint type="fixed" name="camera_joint">
      <origin xyz="0.05 0.0 0.05" rpy="0 0.5236 0"/>
      <child link="camera_link"/>
      <parent link="camera_pole"/>
    </joint>

  </xacro:macro>
</robot>
